@import url(../../global/global.css);


.login-container {
    display: flex;
    height: calc(100vh - 80px); 
}


.left-side {
    width: 50%;
    position: relative;
    background: #00A5FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-btn {
    position: absolute;
    background: #ffd000;
    border: 4px solid #000;
    padding: 12px 40px;
    font-size: 2rem;
    font-family: 'Kavoon', sans-serif;
    cursor: pointer;
}


.right-side {
    width: 50%;
    background: var(--verde-floresta-escuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    color: white;
}

.right-side h2 {
    font-family: 'Krona One', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    border-radius: 50px;
    border: none;
}

.btn-login {
    padding: 14px;
    background: var(--Verde-oliva-claro);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.btn-login:hover {
    background: var(--verde-jade-claro);
}

.forgot {
    margin-top: 20px;
    color: var(--Verde-erva-doce);
    text-align: center;
    display: block;
}
